<%- include("partials/header"); %>

<h1>Compose</h1>

<form action="/compose" method="post">

    <div class="mb-3">
        <label class="form-label" for="postTitle">Title</label>
        <input class="form-control" type="text" name="postTitle" id="postTitle">
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="postContent">Post</label>
        <textarea class="form-control" type="text" name="postContent" id="postContent" rows="3"></textarea>
    </div>
    
    <div class="mb-3">
        <button class="btn btn-light btn-publish" type="submit" name="button">Publish</button>
    </div>
    

</form>

<%- include("partials/footer"); %>